<div class="navbar navbar-expand-lg bg-dark">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/quotes" routerLinkActive="active">Quotes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/addQuote" >Add quote</a>
        </li>
      </ul>
</div>
