
<div class="row">
  <div class="col-6 p-4 border border-info ml-auto mr-auto">
    <div class="form-group">
      <h3>Submit new quote</h3>
      <p>
        <label for="category">Category:
          <select id="category" name="category" [(ngModel)]="category">
            <option *ngFor="let category of categories">{{ category }}</option>
          </select>
        </label>
      </p>
      <p>
        <label for="author" >Author:
          <input type="text" name="author" id="author" [(ngModel)]="author">
        </label>
      </p>
      <p>
        <label for="quoteText">Quote text:
          <textarea id="quoteText" name="quoteText" [(ngModel)]="text"></textarea>
        </label>
      </p>
      <p>
        <button type="button" class="btn btn-primary" [disabled]="!category ||
                                                                  !author ||
                                                                  !text"
                                                      (click)="sendQuote()">Send</button>
      </p>
    </div>
  </div>
</div>
