<div *ngIf="preloader" class="pt-5">
  <div class="cssload-loading">
    <div class="cssload-finger cssload-finger-1">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-2">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-3">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-finger cssload-finger-4">
      <div class="cssload-finger-item">
        <span></span><i></i>
      </div>
    </div>
    <div class="cssload-last-finger">
      <div class="cssload-last-finger-item"><i></i></div>
    </div>
  </div>
</div>
<div *ngIf="!preloader">
  <div class="mr-auto ml-auto border border-info p-3" *ngIf="!noQuote">
    <div class="card p-3" *ngFor="let quote of quotes, let i = index">
      <p>{{ quote.text }}</p>
      <strong>* {{ quote.author }}</strong>
      <div class="button-group p-3">
        <button class="btn btn-warning" routerLink="{{quote.id}}/edit">Edit</button>
        <button class="btn btn-danger" (click)="onDelete(quote.id, i)">Delete</button>
      </div>
    </div>
  </div>
</div>



