<div class="row p-4">
  <div class="col-5">
    <div class="p-3 border border-info">
      <h2>Categories</h2>
      <ul>
        <li *ngFor="let category of categories, let i = index"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/quotes', category]" class="list-group-item list-group-item-action">{{ category }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-7">
    <router-outlet></router-outlet>
  </div>
</div>
